<div class="col-12 main-img-container ">
    <img src="Picture1.jpg" class="opacity-50 w-100 rounded" alt="fresh produce " />
    <div class="main-img-text">
      <h1>Route to Comply</h1>

      <p class="main-message">Your ideal partner for a seemless audit process</p>
    </div>
  </div>